.navBar {
    height: 40px;
    width: 100vw;
    background: #ffffff; 
    position: fixed; 
    top: 0; 
    display:flex;
    justify-content: end;  
}

.navBar .navItem {
    width: 160px;
    height: 40px;
    border: solid 1px gray;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: black;
}

.navBar .navItem:hover {
    background: lightyellow;
    text-decoration: underline;
}
