.navBar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white; 
    display: flex;
    align-items: center;
    z-index: 5; 
    flex-shrink: 0; 
}

.navBar .navItem {
    width: 160px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
.navBar .navItem {
    @media (max-width: 600px) {
            width: 100px;
        }
}

.navBar .navItem:hover {
    text-decoration: underline;
    font-size: 19px;
    color: #d19e32;
}
